.ui-page {
    background: #536DFE;
}

.ui-content {
    background: white;
}

.ui-header {
    background: #536DFE;
    margin-bottom: 15px;
}


.movie {
  background: -webkit-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(209,209,209,1) 20%, rgba(255,255,255,1) 100%);
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0px 15px 5px 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#myProgress {
    width: 200px;
    height: 8px;
    background: #ddd;
}

#myBar {
    height: 100%;
    background: #4caf50;
}

.search {
    display:flex;
    flex-direction: row;
}


.search input {
    height: 18px !important;

width: 250px !important;

font-size: 12px !important;
}

#searchtext {
    flex-grow: 1;
}

#submit {
    flex-grow: 2;
}